



<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Upgrade to a Pro Seller Account</h1>
  <ul role="list" class="mt-8 space-y-3 text-sm">
    <li class="flex gap-x-3"><span class="px-2 py-1 bg-yellow-100 text-yellow-800 text-xs font-medium rounded">PRO</span>Badge on products and profile</li>
    <li class="flex gap-x-3">Unlimited products</li>
    <li class="flex gap-x-3">Advanced analytics</li>
    <li class="flex gap-x-3">Dedicated support representative</li>
    <li class="flex gap-x-3">Marketing automations</li>
    <li class="flex gap-x-3">Custom integrations</li>
  </ul>
  <div data-controller="subscription">
  <button data-action="click->subscription#subscribe" class="mt-8 block rounded-md bg-blue-500 px-3.5 py-2.5 text-center text-sm font-semibold text-white hover:bg-blue-400">Subscribe</button>
</div>
</div>
